#image-track > .image {
  width: 50vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: center;
  
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative; left: 0%; top: 40%; transform: translate(-0%,0%);
  user-select: none; 
}

#bottom-bar {
  position: relative; left: 110%;
}