#image-track > .image {
  width: 30vmin;
  height: 30vmin;
  object-fit: cover;
  object-position: center;
  
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute; left: 22%; top: 40%; transform: translate(-0%,0%);
  user-select: none; 
}